<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= title %></title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <%- include('partials/header') %>

  <section id="sobre">
    <h2>Sobre Mim</h2>
    <div class="card">
      <p>Desenvolvedor em transição de carreira, apaixonado por tecnologia.</p>
      <ul>
        <li>Node.js</li>
        <li>Express</li>
        <li>Vue</li>
      </ul>
    </div>
  </section>

  <section id="projetos">
    <h2>Projetos</h2>
    <% if (projetos.length > 0) { %>
      <% projetos.forEach(projeto => { %>
        <div class="card">
          <h3><%= projeto.nome %></h3>
          <p><%= projeto.descricao %></p>
        </div>
      <% }); %>
    <% } else { %>
      <p>Nenhum projeto cadastrado ainda.</p>
    <% } %>
  </section>

  <section id="contato">
    <h2>Contato</h2>
    <div class="card">
      <p>Email: xdsribeiro@gmail.com</p>
      <p>LinkedIn: linkedin.com/in/alexandre-ribeiro-b3b931111</p>
      <p>GitHub: github.com/alexandrefatec</p>
    </div>
  </section>

  <%- include('partials/footer') %>
  <script src="/assets/js/script.js"></script>
</body>
</html>
